@keyframes moveUpDown{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/*
.color1 { #4d433d }; marrom
.color2 { #525c5a }; cinza
.color3 { #56877d }; verde escuro
.color4 { #8ccc81 }; verde 
.color5 { #bade57 }; verde limão

*/

div#titulo{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 26px;
    flex-direction: row;
}

div#professorOak{
    padding: 10px;
}

div#professorOakFala{
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    box-shadow: 4px 4px #123636;
    
}

div#professorOakFala::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #f2f2f2 transparent transparent;
    transform: translateY(-50%);
}

img#professorOakImg{
    width: 11vw;
    height: 50vh;
}

p#professorOakFala{
    font-size: 25px;
    width: 700px;
}

div#pokemons {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

div#Bulbasaur{
    text-align: center;
    width: 30vw;
    height: 80vh;
    background-color: #8ccc81;
    border-radius: 8px;
    padding: 10px;
}

div#Charmander{
    text-align: center;
    width: 30vw;
    height: 80vh;
    background-color: #8ccc81;
    border-radius: 8px;
    padding: 10px;
}

div#Squirtle{
    text-align: center;
    width: 30vw;
    height: 80vh;
    background-color: #8ccc81;
    border-radius: 8px;
    padding: 10px;
}

body{
    background-color: #56877d;
}

img{
    padding-top: 40px;
    width: 150px;
    height: 150px;
}

p{
    text-align: center;
}

p#descricao{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #bade57;
}

p#nomeDosPokemons{
    background-color: #bade57;
    border-radius: 5px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b130a;
}

div#pokebolas{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

div#pokebolaBulbasaur{
    position: relative;
    text-align: center;
    width: 30vw;
    height: 40vh;
    cursor: pointer;
}

div#pokebolaBulbasaur:hover{
    animation: moveUpDown 0.5s infinite;
}

div#pokebolaSquirtle{
    text-align: center;
    width: 30vw;
    height: 40vh;
    cursor: pointer;
}

div#pokebolaSquirtle:hover{
    animation: moveUpDown 0.5s infinite;
}

div#pokebolaCharmander{
    text-align: center;
    width: 30vw;
    height: 40vh;
    cursor: pointer;
}

div#pokebolaCharmander:hover{
    animation: moveUpDown 0.5s infinite;
}

